<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppsList">
        <activity
            android:name=".bluetooth.BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".alarmExample.AlarmActivity"
            android:exported="false" />

        <receiver android:name=".alarmExample.AlarmReceiver" />

        <activity
            android:name=".affirmations.Affirmations"
            android:exported="false" />
        <activity
            android:name=".ListAppsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tipcalculator.TipCalculator"
            android:exported="false" />
        <activity
            android:name=".wordsapp.WordsAppMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Words" />
        <activity
            android:name=".unscramble.UnscrambleMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Unscramble" />
        <activity
            android:name=".cupcake.CupCakeMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Cupcake" />
        <activity
            android:name=".sports.SportsMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Sports.NoActionBar" />
        <activity
            android:name=".marsphotos.MarsPhotosMainActivity"
            android:exported="false"
            android:theme="@style/Theme.MarsPhotos" />
        <activity
            android:name=".busschedule.BusScheduleMainActivity"
            android:exported="false"
            android:theme="@style/Theme.BusScheduler" />
        <activity
            android:name=".inventory.InventoryMainActivity"
            android:exported="false"
            android:theme="@style/Theme.InventoryApp" />
    </application>

</manifest>